<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link href="http://cdn.bootcss.com/weui/0.4.3/style/weui.min.css" rel="stylesheet">
    <!-- jquery-weui -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/jquery-weui/0.8.2/css/jquery-weui.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery-weui/0.8.2/js/jquery-weui.min.js"></script>
    <!-- vue -->
    <script src="http://cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>
    <script src="http://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
    <!-- icons -->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="res/icons.css" rel="stylesheet">
    <!-- custom -->
    <title>招标123</title>
    <style>
        html, body { height: 100%; background-color: #fbf9fe; }
        .fa { font-size: 24px; color: #10AEFF; }
        /* list */
        #list .weui_cells { margin-top: 0px; }
        #list .weui_cells_title { margin-top: 5px; }
        #list .weui_cell {padding-bottom: 3px;}
        #list .weui_media_box { padding: 0px; }
        #list .weui_media_info { padding: 0px; margin: 5px 0 0 0;}
        #list .fa {
            font-size: 22px; color: #fff; background-color: #09BB07;
            font-weight: bold; margin-right: 3px; padding: 3px;
        }
        #pay .weui_media_desc {margin-bottom: 8px;}
        /* z-index */
        .weui_mask, .weui_dialog, .weui_actionsheet { z-index: 800 }
        .weui-popup-container, .weui-popup-modal { z-index: 800 }
        .weui_loading_toast, .weui_toast  { z-index: 1000;}
        /* popup */
        #rules_pop .weui_panel_hd {padding: 8px 10px 3px 10px;}
        #rules_pop .button_sp_area { padding: 5px 5px 0px 5px; }
        #rules_pop .button_sp_area > .weui_btn { margin: 0px 5px 0px 0px; }
    </style>
</head>
<body>
<div class="weui_tab" id="app">
    <template v-if="!show_user">
    <div class="weui_tab_bd" id="list">
        <!-- list -->
        <div class="weui_cells_title" style="margin-top: 5px;">{{ start_day }}</div>
        <div class="weui_cells weui_cells_access">
            <template v-for="x of items">
                <template v-if="!x.uuid">
                    <div v-if="x.vip" class="weui_cell weui_cells_title">{{ x.day }}
                        <a href="javascript:;" @click="pop_user">　　{{ x.title }}</a>
                    </div>
                    <div v-else class="weui_cell weui_cells_title">{{ x.day }}　　{{ x.title }}</div>
                </template>
                <template v-else>
                    <a href="javascript:;" class="weui_cell" :class="{weui_btn_primary: x.uuid == uuid}" @click="view_content(x)">
                        <div class="weui_cell_hd" style="margin-top: 0px; margin-bottom: 0px;">
                            <i :class="['fa', 'icon-' + x.source]"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <div class="weui_media_box weui_media_text">
                                <p><span v-html="highlight(x.title)"></span></p>
                                <ul class="weui_media_info">
                                    <li class="weui_media_info_meta">{{ x.day }}</li>
                                    <li class="weui_media_info_meta">{{ x.subject }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="weui_cell_ft">
                        </div>
                    </a>
                </template>
            </template>
        </div>
        <!-- list footer -->
        <div class="weui-infinite-scroll">
            <div class="infinite-preloader" v-if="next"></div>
            {{ footer }}
        </div>
    </div>
    <!-- end list -->
    </template>
    <template v-else>
        <user-info :user="user"></user-info>
    </template>
    <div class="weui_tabbar">
        <a href="javascript:;" class="weui_tabbar_item" @click="pop_date">
          <div class="weui_tabbar_icon">
            <i class="fa fa-calendar"></i>
          </div>
          <p class="weui_tabbar_label">日期</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item" @click="pop_rule">
          <div class="weui_tabbar_icon">
            <i class="fa fa-check-square-o"></i>
          </div>
          <p class="weui_tabbar_label">筛选</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item" @click="pop_user">
          <div class="weui_tabbar_icon">
            <i class="fa fa-user"></i>
          </div>
          <p class="weui_tabbar_label">VIP</p>
        </a>
    </div>
    <!-- date popup -->
    <input id='date_picker' type="text" style="display: none;"/>
    <!-- rules popup -->
    <div id="rules_pop" class="weui-popup-container">
        <div class="weui-popup-overlay"></div>
        <div class="weui-popup-modal weui_actionsheet">
            <div class="weui_actionsheet_title">请选择筛选条件</div>
            <div class="weui_actionsheet_menu">
                <div class="weui_panel weui_panel_access">
                    <div class="weui_panel_hd">信息来源</div>
                    <div class="weui_panel_bd">
                        <toggle-buttons :items="rule.sources" @select="select_items" ></toggle-buttons>
                    </div>
                    <div class="weui_panel_hd">公告类型</div>
                    <div class="weui_panel_bd">
                        <toggle-buttons :items="rule.subjects" @select="select_items" ></toggle-buttons>
                    </div>
                    <div class="weui_panel_hd">关键词</div>
                    <div class="weui_panel_bd">
                        <toggle-buttons :items="rule.keys" @select="select_items" ></toggle-buttons>
                    </div>
                    <search-bar @submit="rule_add_key"></search-bar>
                </div>
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell weui_btn_primary" @click="rule_save">筛选</div>
                <div class="weui_actionsheet_cell close-popup">取消</div>
            </div>
        </div>
    </div>
    <!-- content popup -->
    <content-pop id="content_pop" :archive="archive" :vip="is_vip"></content-pop>
</div>

<!-- components -->
<template id="toggle-buttons">
    <div class="button_sp_area">
        <template v-for="x of items">
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default"
               :class="{weui_btn_primary: x.select}" @click="select(x)" >{{ x.text }}</a>
        </template>
    </div>
</template>
<script>
    Vue.component('toggle-buttons', {
        template: '#toggle-buttons',
        props: {items: Array},
        methods: {
            select: function(item){
                item.select = !item.select;
                this.$emit('select', this, item);
            },
            choice: function(){
                return this.items.filter(function(o) { return o.select; })
                        .map(function(o) { return o.value ? o.value : o.text; });
            }
        }
    });
</script>
<template id="search-bar">
    <div class="weui_search_bar">
        <form class="weui_search_outer" @submit.prevent="add_key">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" placeholder="请输入要搜索的关键词" required v-model="key" />
                <a href="javascript:;" class="weui_icon_clear"></a>
            </div>
            <label class="weui_search_text">
                <i class="weui_icon_search"></i><span>关键词</span>
            </label>
        </form>
        <a href="javascript:;" class="weui_search_cancel" @click="add_key">添加</a>
    </div>
</template>
<script>
    Vue.component('search-bar', {
        template: '#search-bar',
        props: {key: String},
        methods: {
            add_key: function(){
                this.$emit('submit', this.key);
            }
        }
    });
</script>
<template id="content-pop">
    <div :id="id" class="weui-popup-container">
        <div class="weui-popup-overlay"></div>
        <div class="weui-popup-modal">
            <article class="weui_article" @click="dbl_close" onselectstart="return false;">
                <h1><b>{{ archive.title }}</b></h1>
                <section v-for="x in archive.contents">
                    <p v-html="x"></p>
                </section>
                <section v-show="archive.url != ''" style="font-size: 13px;">
                    <a href="javascript:;" @click="original(archive.url, archive.source)">查看原始信息</a>
                </section>
                <section class="weui_msg">
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup">关闭</a>
                    <div class="weui_msg_desc" style="margin-top: 5px;">您也可以在正文的任意位置双击关闭此页</div>
                </section>
            </article>
        </div>
    </div>
</template>
<script>
    Vue.component('content-pop', {
        template: '#content-pop',
        props: {id: String, archive: Object, vip: Boolean},
        methods: {
            original: function (url, source) {  // 查看原始信息
                if (!this.vip) {
                    $.alert('开通VIP服务后，可查看原始信息页面。');
                    return;
                }
                $.confirm('即将转到原始信息页面', function(){
                    window.location.href = url;
                });
            },
            dbl_close: function(event) { // 双击关闭详情页
                var vm = this;
                var tm = event.timeStamp;
                var pre = vm._click ? vm._click : 0;
                (pre + 800 < tm) ? (vm._click = tm) : vm.close();
            },
            close: function(){
                $.closePopup();
                this.$emit('close');
            }
        }
    });
</script>
<template id="user-info">
    <div class="weui_tab_bd" id="pay" v-if="!user.vip">
        <div class="weui_msg">
          <div class="weui_text_area" style="margin-bottom: 10px;">
            <h2 class="weui_msg_title">开通VIP服务</h2>
            <p class="weui_msg_desc">VIP用户年费300元/年</p>
            <p class="weui_msg_desc"><b>请长按扫描二维码完成支付。</b></p>
            <p class="weui_msg_desc">
                <img src="/wx/pay" style="width:50%; margin-top: 10px;" />
            </p>
          </div>
        </div>
        <div class="weui_panel">
            <div class="weui_panel_hd">
                <h4 class="weui_media_title" >VIP用户服务内容说明</h4>
            </div>
            <div class="weui_panel_bd">
            <div class="weui_media_box">
              <p class="weui_media_desc">可以实时查看最新发布的招标信息。</p>
              <p class="weui_media_desc">可以同时查看三十天内的招标信息。</p>
              <p class="weui_media_desc">可以根据信息来源和公告类型进行筛选。</p>
              <p class="weui_media_desc">可以自定义多个关键词，筛选公告信息。</p>
            </div>
            </div>
        </div>
    </div>
    <div class="weui_tab_bd" id="pay" v-else>
        <div class="weui_msg">
          <div class="weui_text_area" style="margin-bottom: 10px;">
            <h2 class="weui_msg_title">VIP会员信息</h2>
            <p class="weui_msg_desc">会员权益到期时间：{{ user.end }}</p>
          </div>
        </div>
        <div class="weui_panel">
            <div class="weui_panel_hd">
                <h4 class="weui_media_title" >支付记录</h4>
            </div>
            <div class="weui_panel_bd">
                <template v-for="x in user.pays">
                    <div class="weui_media_box">
                      <p class="weui_media_desc">支付日期：{{ x.day }}</p>
                      <p class="weui_media_desc">支付金额：{{ x.fee }} 元</p>
                      <p class="weui_media_desc">会员权益：{{ x.start }} 至 {{ x.end }}</p>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>
<script>
    Vue.component('user-info', {
        template: '#user-info',
        props: {user: Object},
        methods: {}
    });
</script>
<!-- end components -->
<script>
    vm_app = new Vue({
        el: '#app',
        data: {
            start_day: '',      // 起始日期
            use_rule: false,    // 是否使用规则
            items: [],          // 标题列表
            rule: {sources:[], subjects:[], keys:[]},       // 筛选规则
            user: {vip: false, end: '', pays:[], show:false},   // 用户信息(是否vip, 到期时间, 支付记录)
            days:[],            // 可选的日期列表
            uuid: '',           // 选中的正文ID
            archive : {title:'', url:'', contents:[]},      // 弹出的正文详情
            next: null,         // 下一页的请求参数
            footer: '',
            loading: false
        },
        computed: {
            is_vip: function(){ return this.user.vip; },
            show_user: function() { return this.user.show; }
        },
        watch: {
            loading: function(val){ val ? $.showLoading() : $.hideLoading(); },
            next: function(val){ this.footer = val ? '正在加载...' : '没有更多了'; }
        },
        methods: {
            exists: function(v){ return v && v!=''; },
            highlight: function(v){
                var keys = this.rule.keys.filter(function (o) { return o.select; });
                keys.forEach(function(k){
                    var reg = new RegExp(k.text, 'g');
                    var rep = '<b>' + k.text + '</b>';
                    v = v.replace(reg, rep);
                });
                return v;
            },
            init: function(){
                var vm = this;
                vm.loading = true;
                // first, load rule.
                vm.$http.get('/api/v3/user').then(function(resp){
                    vm.loading = false;
                    var data = resp.body;
                    $.extend(vm.rule, data.rule);
                    $.extend(vm.user, data.user);
                    vm.days = data.days;
                    vm.reload();
                }, function(){ vm.loading = false; });
            },
            reload: function(){
                var vm = this;
                vm.user.show = false;

                // load list items
                vm.loading = true;
                var param = {day: vm.start_day, rule: vm.use_rule};
                vm.$http.get('/api/v3/titles', {params: param}).then(function(resp){
                    vm.items = resp.body.items;
                    vm.params = resp.body.params;
                    vm.next = resp.body.next;
                    vm.start_day = vm.params.day;
                    vm.loading = false;
                    $('#list').scrollTop(0);

                    // if not enough, append more
                    if (vm.items.length < vm.params.size){
                        setTimeout(function(){ vm.append(); }, 0);
                    }
                }, function(){ vm.loading = false; });
            },
            append: function(){
                var vm = this;

                // append list items
                if (vm.appending) return;
                if (!vm.next) return;
                vm.appending = true;
                var param = $.extend(vm.next, {rule: vm.use_rule});
                vm.$http.get('/api/v3/titles', {params: param}).then(function(resp){
                    var data = resp.body;
                    if (vm.params.day != vm.next.day){
                        var label = (data.items.length > 0 ? '' : '当日无符合条件的信息');
                        vm.items.push({day: vm.next.day, title: label});
                    }
                    Array.prototype.push.apply(vm.items, data.items);
                    vm.params = data.params;
                    vm.next = data.next;
                    vm.appending = false;

                    // if not enough, append more
                    if (vm.items.length < vm.params.size){
                        setTimeout(function(){ vm.append(); }, 0);
                    }
                }, function(){ vm.appending = false; });
            },
            view_content: function(item){
                var vm = this;

                vm.uuid = item.uuid;
                vm.loading = true;
                vm.$http.get('/api/v3/content/' + item.uuid).then(function(resp){
                    vm.archive = resp.body;

                    $('#content_pop').popup();
                    $('#content_pop > div.weui-popup-modal').scrollTop(0);
                    vm.loading=false;
                }, function(){
                    vm.loading=false;
                    $.alert('载入时出现错误，请重新尝试')
                });
            },
            pop_date: function(){
                var vm = this;
                // init date picker
                $("#date_picker").picker({
                    title: "请选择公告日期",
                    toolbarCloseText: "确定",
                    cols: [{
                      textAlign: 'center',
                      values: vm.days
                    }],
                    onClose: function(){
                        vm.start_day = $('#date_picker').val();
                        vm.use_rule = false;
                        vm.reload();
                    }
                });
                // pop date picker
                setTimeout(function(){
                    $('#date_picker').picker('open');
                },0);
            },
            pop_rule: function(){
                var vm = this;
                $('#rules_pop').popup();
            },
            pop_user: function() {
                var vm = this;
                vm.user.show = true;
            },
            select_items: function(comp, item){
                /*
                var vm = this;
                if (vm.is_vip) return;
                if (comp.choice().length > 1) {
                    $.confirm('普通用户只可选择一项<br/>开通VIP服务，可以选择多项<br/><br/>现在开通VIP服务？', function(){
                        $.closePopup();
                        vm.pop_user();
                        item.select = false;
                    }, function(){
                        item.select = false;
                    });
                }
                */
            },
            rule_add_key: function(key){
                var vm = this;
                if (key && key!='') {
                    var keys = $(vm.rule.keys).filter(function(_, v) { return v.text == key; });
                    if (keys.length == 0){
                        vm.rule.keys.splice(0, 0, {text: key, select: true});
                    } else {
                        keys[0].select = true;
                    }
                }
            },
            rule_save: function(){
                // save filter rule
                var vm = this;
                vm.rule_add_key();
                var choice = function(vals) {
                    return vals.filter(function(o) { return o.select; })
                            .map(function(o) { return o.value ? o.value : o.text; });
                };
                var data = {
                    sources: choice(vm.rule.sources),
                    subjects: choice(vm.rule.subjects),
                    keys: choice(vm.rule.keys),
                    suggest: vm.rule.keys.map(function(o){ return o.text; })
                };
                // vm.loading = true;
                vm.$http.post('/api/v3/rule', data).then(function(resp){
                    //$.toast('操作成功');
                    setTimeout(function () {
                        $.closePopup();
                        vm.use_rule = true;
                        vm.reload();
                    }, 0);
                });
            }
        }
    });

    // app init
    vm_app.init();

    // append list items
    $('#list').infinite().on("infinite", function() {
        vm_app.append();
    });

</script>
</body>
</html>